.App {
  text-align: center;
}

body {
  font-size: 14px; /* Default font size for small screens */

  @media (min-width: 768px) {
    font-size: 16px; /* Increase font size for larger screens */
  }
}